[submodule "dependencies/xmake"]
	path = dependencies/xmake
	url = git://github.com/Kanma/XMake.git
[submodule "dependencies/Athena-Math"]
	path = dependencies/Athena-Math
	url = git://github.com/Kanma/Athena-Math.git
